<!-- footer -->
<div class="row">
    <footer class="col s12 m12 l8 offset-l3 ">
       <div class="container">
           <div class="row">
               <div class="white-text col s12 l6">
                   <h5 class="writing">Bio</h5>
                   <p> We provide entertainment, Live Music, Concert, Production and more ..</p>
               </div>
               <div class="white-text col s12 l4 offset-l2">
                   <h5 class="writing">Check us out</h5>
                   <ul>
                     <li><a href="https://www.instagram.com/interflowcrew/" class="waves-effect grey-text text-lighten-3"><i class="fab fa-instagram red-text text-darken-1"></i>&nbsp Instagram</a></li>
                     <li><a href="https://www.facebook.com/interflowcrew1" class="waves-effect grey-text text-lighten-3"> <i class="fab fa-facebook blue-text text-darken-4"></i>&nbsp Facebook</a></li>
                   <li><a href="https://twitter.com/interflowcrew" class="waves-effect grey-text text-lighten-3"><i class="fab fa-twitter light-blue-text text-darken-1"></i>&nbsp Twitter</a></li>
                   <li><a class="waves-effect grey-text text-lighten-3" href="https://www.youtube.com/channel/UCdlVQEzSEMpQw7eyEiZBnfw/featured"><i class="fab fa-youtube red-text  text-darken-1"></i>&nbsp Youtube</a></li>
                   </ul>
               </div>
           </div>
       </div>
   <div class="footer-copyright white-text">
     <div class=" center ">&copy; 2020 Interflow Crew <br><br></div>
     <div class=" center "><p>powered by <a href="https://gentle-anchorage-78486.herokuapp.com/">MaxDevs</a></p></div>
   </div>
</div>
     </footer>
   </div>

<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
     $('.sidenav').sidenav(); //handles the opening and closing of the sidenav
     $('.materialboxed').materialbox();  //makes the images to zoom in
     $('.parallax').parallax(); //parallaxing image 
     $('.tabs').tabs();
     $('.datepicker').datepicker({
         minDate: new Date()
     });
     $('.tooltipped').tooltip();
     $('.scrollspy').scrollSpy();//scrolls the page to the id instead of jumping
     $('.select').formSelect();
     $('.slider').slider({
         height: 520,
         indicators: false,
         interval: 2500
     });
     $('.materialboxed').materialbox();
    });

  </script>
</body>
</html>