<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
  <title>Interflow Crew</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <!--sidenav for mobile and tablets-->
    <ul id="slide-out" class="sidenav sidenav-fixed ">

        <li><div class=" profile-image">
            <a href="#user"><img class="circle center" src="images/interflow.jpg"></a>
            <h4 class="center"><a href="/" class="writing  brown-text text-darken-4"> Interflow crew </a></h4>
          </div></li>

   <div class="social_media center ">
    <a href="https://www.instagram.com/interflowcrew/" ><i class="fab fa-instagram  red-text text-darken-1"></i></a>&nbsp&nbsp&nbsp
        <a href="https://www.facebook.com/interflowcrew1" > <i class="fab fa-facebook blue-text text-darken-4"></i></a>&nbsp&nbsp&nbsp
      <a href="https://twitter.com/interflowcrew" ><i class="fab fa-twitter light-blue-text text-darken-1"></i></a>&nbsp&nbsp&nbsp
      <a href="https://www.youtube.com/channel/UCdlVQEzSEMpQw7eyEiZBnfw/featured"><i class="fab fa-youtube red-text  text-darken-1"></i></a>
    <li><div class="divider"></div></li>
   </div>

        <li><a href="#services" class="center"><h6 class="writing">About Us</h6></a></li>
          <li><a href="#crew" class="center"><h6 class="writing">Crew</h6></a></li>
          <li><a href="#contact" class="center"><h6 class="writing">Book Us</h6></a></li>


    <h5 class="brown-text text-darken-4 center writing">Contact</h5>
    <li><a href="/"><i class="small material-icons brown-text text-darken-4">email</i>interflowband@gmail.com</a></li> 

      </ul>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      <!--slider for all screens -->
<div class="row ">
    <section class="container section col s12 m12 l8 offset-l3 z-depth-5" >
        <div class="slider">
          <ul class="slides">
            <li>
              <img class="responsive-img" src="images/group_3.jpg" > 
              <div class="caption center-align">
                <h3>More Music, less Talking!</h3>
                <h5 class="light grey-text text-lighten-3">Music is life.</h5>
              </div>
            </li>
            <li>
              <img class="responsive-img" src="images/group_1.jpg"> 
              <div class="caption left-align">
                <h3>Weve got you covered</h3>
                <h5 class="light grey-text text-lighten-3">Any event that involves live music.</h5>
              </div>
            </li>
            <li>
              <img class="responsive-img" src="images/group_4.jpg"> 
              <div class="caption right-align">
                <h3>Any Music genre</h3>
                <h5 class="light grey-text text-lighten-3">AfroBeat, Highlife, Hiplife,Gospel</h5>
              </div>
            </li>
            <li>
              <img class="responsive-img" src="images/play_percussion.jpg"> 
              <div class="caption center-align">
                <h3>Contact us for all church programs!</h3>
                <h5 class="light grey-text text-lighten-3">Weddings, Birthdays, Funerals etc.</h5>
              </div>
            </li>
            <li>
              <img class="responsive-img" src="images/play_fred.jpg"> 
              <div class="caption left-align">
                  <h3>Any Music genre</h3>
                  <h5 class="light grey-text text-lighten-3">AfroBeat, Highlife, Hiplife,Gospel</h5>
              </div>
            </li>
            <li>
              <img class="responsive-img" src="images/play_pinto.jpg"> 
              <div class="caption center-align">
                <h3>Contact us for all church programs!</h3>
                <h5 class="light grey-text text-lighten-3">Weddings, Birthdays, Funerals etc.</h5>
              </div>
            </li>
            <li>
              <img class="responsive-img" src="images/play_singers.jpg"> 
              <div class="caption right-align">
                  <h3>Weve got you covered</h3>
                  <h5 class="light grey-text text-lighten-3">Any event that involves live music.</h5>
              </div>
            </li>
            <li>
              <img class="responsive-img" src="images/play_shabazz.jpg"> 
              <div class="caption left-align">
                <h3>Please Like / Subscribe / Share our social media pages</h3>
                <h5 class="light grey-text text-lighten-3">Facebook Twitter Instagram</h5>
              </div>
            </li>
            <li>
              <img class="responsive-img" src="images/paly_phillip.jpg"> 
              <div class="caption center-align">
                  <h3>Any Music genre</h3>
                  <h5 class="light grey-text text-lighten-3">AfroBeat, Highlife, Hiplife,Gospel</h5>
            </li>
            <li>
              <img class="responsive-img" src="images/group_3.jpg"> 
              <div class="caption right-align">
                  <h3>Weve got you covered</h3>
                  <h5 class="light grey-text text-lighten-3">Any event that involves live music.</h5>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>
