<%- include('partials/header') %>


<!-- services  -->
<div class="row">
<section class="container section scrollspy  white col s12 m12 l8 offset-l3" id="services">
    <div class="row">
     <div class="col l6">
       <h4 class="writing">Who we are</h4>
       <div class="card-panel transparent z-depth-5">
        <span class="center">Interflow crew is a group formed in 2018 based in the UK and is made of talented folks passionate
             about music coming together to form a band to produce some good music for events 
        </span>
        <h4 class="writing">What we do</h4>
        <span class="center">The band mainly provides live music for all kinds of events such as church programs, wedding ceremonies, birthdays, Concerts and more.
            Genre of music provided includes AfroBeat, Hiplife, Highlife, Gospel etc. <br>We also collaborate with event organizers for 
            to host concerts. Get in touch for your next event.

            </span>
      </div>
     </div>
     <div class="col l6">
      <h4 class="writing">Past Events</h4>
      <div class="card-panel transparent z-depth-5">
                      <div class="row valign-wrapper">
                        <div class="col s3">
                          <img src="images/hiplive_pic2.jpg" alt="" class="circle responsive-img materialboxed"> 
                        </div>
                        <div class="col s9">
                          <span class="black-text">
                            Interflow collaborates with HipLive to organize Events
                          </span>
                        </div>
                      </div>
                    
                    <div class="divider"></div><br>
                      <div class="row valign-wrapper">
                        <div class="col s3">
                          <img src="images/interflow_virtual1.jpg" alt="" class="circle responsive-img materialboxed"> 
                        </div>
                        <div class="col s9">
                          <span class="black-text">
                            Interflow organized a virtual concert for fans
                          </span>
                        </div>
                      </div>
                    
                      <div class="divider"></div><br>
                      <div class="row valign-wrapper">
                        <div class="col s3">
                          <img src="images/akwaaba_pic1.jpg" alt="" class="circle responsive-img materialboxed"> 
                        </div>
                        <div class="col s9">
                          <span class="black-text">
                            Interflow collaborated with Akwaaba Group to organize Virtual party in the park
                          </span>
                        </div>
                      </div>
                      <div class="divider"></div><br>
                      <p class="writing center">More Activities on our social media pages</p>
                </div>
      </div>
    </div>
  
    </div>
  
  </section>
</div>

 <!-- parallax -->
 <div class="row">
 <div class="parallax-container col s12 m12 l8 offset-l3">
    <div class="parallax">
        <img src="images/group_3.jpg " alt="" class="responsive-img" id="parallex-image">
    </div>
  </div>
</div>


<!-- contact form -->
<div class="row">
<section class="section container scrollspy white col s12 m12 l8 offset-l3" id="contact">

    <div class="row">
        <div class="col s12 l10 offset-l1">
            <h3 class="brown-text text-darken-4 writing center">Get in Touch</h3>
            <p class="center">To book Interflow crew for your event, please fill the form to give us an idea of your event and 
                we will get in touch with you as soon as possible.
            </p>
        </div>
         <div class="col s12 l10 offset-l1 ">

             <form action="/" class="request" method="POST">
              <div class="input-field">
                <i class="material-icons prefix">message</i>
                <input type="text" id="name" name="name" required> 
                <label for="name">Your  Name</label>
            </div>
                 <div class="input-field">
                     <i class="material-icons prefix">email</i>
                     <input type="email" id="email" name="email" required> 
                     <label for="email">Your  Email</label>
                 </div>
                 <div class="input-field">
                    <i class="material-icons prefix">phone</i>
                    <input type="tel" id="phone" name="phone" required> 
                    <label for="phone">Your  Contact number</label>
                </div>
                 <div class="input-field">
                     <i class="material-icons prefix">message</i>
                     <textarea id="message" class="materialize-textarea" name="message" required></textarea>
                     <label for="message">Brief description about program</label>
                 </div>
                 <div class="input-field">
                     <input type="text" class="datepicker" id="date" name="date" required>
                     <label for="date"> Date for the program</label>
                 </div>
                 
                 <div class="input-field">
                    <select class="select" name="program_type" >
                      <option value="" disabled selected>Choose the type of program</option>
                      <option value="Concert">Concert/Entertainment show</option>
                      <option value="Charity Event">Non profit/Charity </option>
                      <option value="Gospel event">Gospel Event</option>
                      <option value="Wedding/Funeral/Party">Other (Wedding/Funeral/Party)</option>
                    </select>
                  </div>


                  <div class="input-field">
                    <select class="select" name="service" >
                      <option value="" disabled selected>Choose Required Service</option>
                      <option value="Full Band with instruments">Full Band with instruments</option>
                      <option value="Full Band without instruments">Full Band without instruments</option>
                      <option value="Only instrumentalists">Only instrumentalists</option>
                    </select>
                  </div>

                 <div class="input-field center ">
                    <button class="btn waves-effect waves-light brown" type="submit" name="action">Send Request
                        <i class="material-icons right">send</i>
                      </button>
                 </div>
             </form>
         </div>
    </div>
</section>
</div>

<!-- parallax -->
<div class="row">
    <div class="parallax-container col s12 m12 l8 offset-l3">
       <div class="parallax">
           <img src="images/instrumentalists.jpg " alt="" class="responsive-img" id="parallex-image">
       </div>
     </div>
   </div>

   <!-- members / grid -->
   <div class="row">
  <section class="container section scrollspy col s12 m12 l8 offset-l3 white" id="crew">
    <h4 class="writing center">The team</h4>
    <div class="row">
<div class="col s8 m4 l3 offset-s2 offset-m1" >
   <div class="card medium" id="member">
       <div class="card-image waves-effect waves-block waves-light">
         <img class="activator " src="images/fred.jpg">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">Fred (Drums) <br> 
            <a href="https://www.facebook.com/freddy.opoku.kwd" > <i class="Tiny fab fa-facebook blue-text text-darken-4"></i></a>&nbsp&nbsp
            <a href="https://www.instagram.com/freddy.opoku/" ><i class="Tiny fab fa-instagram  red-text text-darken-1"></i></a>&nbsp&nbsp
        </span>
       </div>
       
     </div>
</div>

<div class="col s8 m4 l3 offset-m1 offset-s2">
 <div class="card medium">
     <div class="card-image waves-effect waves-block waves-light">
       <img class="activator" src="images/phillip.jpg">
     </div>
     <div class="card-content">
       <span class="card-title activator grey-text text-darken-4">K Sounds (Keys)<br> 
        <a href="https://www.instagram.com/kaysoundz1/" ><i class="Tiny fab fa-instagram  red-text text-darken-1"></i></a>&nbsp&nbsp
    </span>
     </div>
    
   </div>

</div>

<div class="col s8 m4 l3 offset-s2 offset-m1">
   <div class="card medium">
       <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="images/max.jpg">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">Max (Keys)<br> 
            <a href="https://www.facebook.com/papa.awuah.1" > <i class="Tiny fab fa-facebook blue-text text-darken-4"></i></a>&nbsp&nbsp
            <a href="https://www.instagram.com/papaawuah/" ><i class="Tiny fab fa-instagram  red-text text-darken-1"></i></a>&nbsp&nbsp
        </span>
       </div>
     </div>
</div>
<div class="col s8 m4 l3 offset-m1 offset-s2">
   <div class="card medium">
       <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="images/shabazz.jpg">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">Shabazz (Bass) <br>
            <a href="https://www.facebook.com/jstravinsky" > <i class="Tiny fab fa-facebook blue-text text-darken-4"></i></a>&nbsp&nbsp
            <a href="https://www.instagram.com/shabazz.jpeg/" ><i class="Tiny fab fa-instagram  red-text text-darken-1"></i></a>&nbsp&nbsp
         </span>
       </div>
     </div>
</div>
     </div>

     <div class="row">

       <div class="col s8 m4 l3  offset-s2 offset-m1">
         <div class="card medium">
             <div class="card-image waves-effect waves-block waves-light">
               <img class="activator" src="images/julian.jpg">
             </div>
             <div class="card-content">
               <span class="card-title activator grey-text text-darken-4">Julian <br> Percussion <br>
                <a href="https://www.instagram.com/juliandarksta/" ><i class="Tiny fab fa-instagram  red-text text-darken-1"></i></a>&nbsp&nbsp
            </span>
             </div>
           </div>
      
       </div>
       <div class="col s8 m4 l3 offset-m1 offset-s2">
           <div class="card medium">
               <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" src="images/pinto.jpg">
               </div>
               <div class="card-content">
                 <span class="card-title activator grey-text text-darken-4">Pinto (Lead) <br>
                    <a href="https://www.facebook.com/abraham.pinto.338" > <i class="Tiny fab fa-facebook blue-text text-darken-4"></i></a>&nbsp&nbsp
                     <a href="https://www.instagram.com/kwe_pinto/" ><i class="Tiny fab fa-instagram  red-text text-darken-1"></i></a>&nbsp&nbsp
                </span>
               </div>
             </div>
       </div>
       <div class="col s8 m4 l3 offset-s2 offset-m1">
           <div class="card medium">
               <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" src="images/richy_snr.jpg">
               </div>
               <div class="card-content">
                 <span class="card-title activator grey-text text-darken-4">Richy (Snr) <br> Percurssion <br>
                    <a href="https://www.facebook.com/attasnr.richard" > <i class="Tiny fab fa-facebook blue-text text-darken-4"></i></a>&nbsp&nbsp
                    <a href="https://www.instagram.com/___richard79___/" ><i class="Tiny fab fa-instagram  red-text text-darken-1"></i></a>&nbsp&nbsp
                </span>
               </div>
             </div>
       </div>
       
       <div class="col s8 m4 l3 offset-m1 offset-s2">
           <div class="card medium">
               <div class="card-image waves-effect waves-block waves-light">
                 <img class="activator" src="images/richy.jpg">
               </div>
               <div class="card-content">
                 <span class="card-title activator grey-text text-darken-4">Richy  (Vocals) <br>
                    <a href="https://www.facebook.com/richard.senya.5" > <i class="Tiny fab fa-facebook blue-text text-darken-4"></i></a>&nbsp&nbsp
                     <a href="https://www.instagram.com/mrrrichy/" ><i class="Tiny fab fa-instagram  red-text text-darken-1"></i></a>&nbsp&nbsp
                </span>
               </div>
             </div>
       </div>
             </div>

             <div class="row">

               <div class="col s8 m4 l3 offset-s2 offset-m1">
                 <div class="card medium">
                     <div class="card-image waves-effect waves-block waves-light">
                       <img class="activator" src="images/franky.jpg">
                     </div>
                     <div class="card-content">
                       <span class="card-title activator grey-text text-darken-4">Franky (Vocals) <br>
                        <a href="https://www.facebook.com/francesco.agyei" > <i class="Tiny fab fa-facebook blue-text text-darken-4"></i></a>&nbsp&nbsp
                        <a href="https://www.instagram.com/frankie.fresco/" ><i class="Tiny fab fa-instagram  red-text text-darken-1"></i></a>&nbsp&nbsp
                        </span>
                     </div>
                   </div>
             </div>

               <div class="col s8 m4 l3 offset-m1 offset-s2">
                   <div class="card medium">
                       <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="images/adjoa.jpg">
                       </div>
                       <div class="card-content">
                         <span class="card-title activator grey-text text-darken-4">Adjoa Sarfo <br> Vocals <br>
                            <a href="https://www.instagram.com/adwoasafoaofficial/" ><i class="Tiny fab fa-instagram  red-text text-darken-1"></i></a>&nbsp&nbsp
                        </span>
                       </div>
                     </div>
               </div>
               <div class="col s8 m4 l3 offset-s2 offset-m1">
                   <div class="card medium">
                       <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="images/nana_adjoa.jpg">
                       </div>
                       <div class="card-content">
                         <span class="card-title activator grey-text text-darken-4">Nana Adjoa <br> Vocals <br>
                        <a href="https://www.instagram.com/nanaadjoa.a/" ><i class="Tiny fab fa-instagram  red-text text-darken-1"></i></a>&nbsp&nbsp

                        </span>
                       </div>
                     </div>
               </div>
               <div class="col s8 m4 l3 offset-m1 offset-s2">
                   <div class="card medium">
                       <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="images/juli.jpg">
                       </div>
                       <div class="card-content">
                         <span class="card-title activator grey-text text-darken-4">Giuliana <br> Admin <br>
                            <a href="https://www.facebook.com/sis.giuly" > <i class="Tiny fab fa-facebook blue-text text-darken-4"></i></a>&nbsp&nbsp
                            <a href="https://www.instagram.com/giul__z/" ><i class="Tiny fab fa-instagram  red-text text-darken-1"></i></a>&nbsp&nbsp
                        </span>
                       </div>
                     </div>
               </div>
               
                     </div>  
                     <div class="hide-on-large-only">
                        <h6 class="center"><a href="/" class="writing brown-text text-darken-4 "><i class="Tiny material-icons brown-text text-darken-4">arrow_upward</i>to the top</a></h6>
                     </div>   
 </section>
</div>
 <!-------------------------------------end of members grid---------------------------------------------------->
   
 

<%- include('partials/footer') %>